<!--oops.vtl-->
<h1>Oops! You probably tried to overfeed, oversleep, overplay, overkindle, or overwater your Monster!</h1>
<h2>Hit your browser's back button and don't do that again.</h2>


<!--oops.vtl-->
